body {
    margin: 0;
    padding: 0;
}

.center {
    background-image: url("../Images/robokoptaki_1.png");
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.inputDiv
{
    display: flex;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 0.1vmin;
    border: 0.4vmin solid black;
}

label{
    color: #FFFFFF;
    text-shadow: -0.10vmin -0.16vmin 0.05vmax black;
    font-size: 3.5vmin;
}

input{
    margin-left: 1vmin;
    width:4.5vmax;
    height:3vmin;
    font-size: 2.4vmin;
}

.canvas
{
    border-spacing: 0;
    border: 0.4vmin solid lightblue;
}