*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blanchedalmond;
}

.face
{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 5%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face::before
{
    content: '';
    position: absolute;
    top: 300px;
    width: 150px;
    height: 70px;
    background-color: black;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.5s;
}


.eyes .ball{
    position:relative;
    width: 80px;
    height: 80px;
    display: block;
    background-color: white;
    margin: 0 15px;
    border-radius: 50%;
}


.box
{
    position: absolute;
    top: 150px;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;

}
.eye
{
    width: 150px;
    height: 150px;
    background: #fff;
    display: inline-block;
    margin: 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

}
.ball
{
    width: 100px;
    height: 100px;
    background: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 15px solid #3103fc;
}

.container-1{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonArea{
    flex: 1;
    margin: 10px;
    width: 500px;
    height: 500px;
    vertical-align: middle;
}

button{
    background-color:yellow;
    font-family: "Open Sans";
    font-size: 40px;
    background: #f7f7f7;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20%;
    border-radius: 15%;
    padding: 10%;
}

button:hover{background-color:orange; font-size: 49px;}

button:visited {
    color: purple;
}

button:active {
    color: blue;
}

footer{
    position: fixed
}


footer{
    background-color:#333;
    display:flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    padding: 10px;

}


